img{
    height: 50%;
    width: 50%;
    border: 20px solid white;
    margin-left: 90rem;
    margin-top: 20rem;
}

body{
    background-color: black;
    color: white;
}

h1{
    font-size: 150px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}

p{
    text-align: center;
    font-size: 110px;
    text-transform: uppercase;
}